@{
    ViewData["Title"] = "Contact";
}


<link rel="stylesheet" href="~/css/grid.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="~/js/notify.js" asp-append-version="true"></script>

    
}


<div class="row">
    <div class="container">
        <label class="label-success">Notifications</label>

        <div class="notificationList">

        </div>


    </div>

</div>

